* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: #10b981;
  padding: 1.5rem;
}

.logo {
  font-size: 2rem;
}

.search {
  justify-self: end;
}

.search img {
  width: 23px;
}

.logo img {
  width: 40px;
}

.logo,
.search {
  display: flex;
  gap: 1rem;
}

#searchbar {
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  outline: none;
}

#searchbar:focus {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.search-box {
  display: grid;
  grid-template-rows: 25px 1fr;
  justify-items: stretch;
  width: 300px;
  position: relative;
}

.suggestions {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
  position: absolute;
  width: 100%;
  background-color: #a7f3d0;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.suggest {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 2px solid #ccc;
  padding: 1rem;
}

.suggest:hover {
  background-color: #ccc;
  cursor: pointer;
}

.suggest-name {
  font-weight: bold;
}

.suggest-info {
  font-size: 0.8rem;
}
