* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 4fr;
  justify-content: center;
  align-items: center;
  background-image: url(imgs/sunny.jpg);
  background-size: cover;
  backdrop-filter: blur(5px);
  height: 100vh;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: #10b981;
  padding: 1.5rem;
}

.logo {
  font-size: 2rem;
}

.search {
  justify-self: end;
}

.search img {
  width: 20px;
  background-color: white;
  padding: 0.5rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.logo img {
  width: 40px;
}

.logo {
  display: flex;
  gap: 1rem;
}

.search {
  display: flex;
}

#searchbar {
  padding: 0.5rem;
  border: none;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  outline: none;
}

#searchbar:focus {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.search-box {
  display: grid;
  grid-template-rows: 40px 1fr;
  justify-items: stretch;
  width: 300px;
  position: relative;
}

.suggestions {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
  position: absolute;
  width: 100%;
  background-color: #a7f3d0;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.suggest {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 2px solid #ccc;
  padding: 1rem;
}

.suggest:hover {
  background-color: #ccc;
  cursor: pointer;
}

.suggest-name {
  font-weight: bold;
}

.suggest-info {
  font-size: 0.8rem;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 4fr;
  background-color: cadetblue;
  color: white;
  justify-content: stretch;
  margin-bottom: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.navbar li {
  padding: 0.5rem;
  border-bottom: 3px solid transparent;
}

.navbar li:hover {
  background-color: #065f46;
  border-bottom: 3px solid black;
}

.my-home,
.last,
.contact {
  text-align: center;
}

.about {
  text-align: end;
}

.content {
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 1rem;
}

.location {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #a7f3d0;
  padding: 1rem;
  border-radius: 0.5rem;
}

.name {
  font-size: 2rem;
}

.today {
  display: grid;
  grid-template-rows: 50px 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #a7f3d0;
}

.day {
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid black;
}

.temp-data {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
}

.temp-data img {
  width: 60px;
  justify-self: end;
}

.cond {
  justify-self: center;
  grid-column: 1 / 3;
  font-size: 1.3rem;
}

.wind-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.wind-data div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  justify-self: end;
}

.knots {
  font-size: 1.2rem;
}

.arrow {
  width: 40px;
  padding-bottom: 0.1rem;
}

.dir {
  font-weight: bold;
  font-size: 0.8rem;
}
