* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fafafa;
}

body {
  display: grid;
  grid-template-rows: 1fr 30px 2fr 4fr;
  background-image: url(imgs/background.jpg);
  background-size: cover;
  backdrop-filter: blur(2px);
  height: 100vh;
}

/*Header*/

header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  gap: 2rem;
}

.logo {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.logo-title {
  font-size: 2.5rem;
  font-weight: bold;
}

#col {
  color: #fde047;
}

.logo-img {
  width: 60px;
}

.search {
  display: flex;
  align-items: center;
}

#searchbar {
  padding: 0.5rem;
  border: 2px solid #fafafa;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  background: none;
  outline: none;
}

#searchbar:focus {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.search-icon {
  width: 24px;
  background-color: #fafafa;
  padding: 0.5rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.search-box {
  display: grid;
  grid-template-rows: 40px 1fr;
  justify-items: stretch;
  position: relative;
}

.suggestions {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
  position: absolute;
  width: 100%;
  background-color: #fafafa;
  backdrop-filter: blur(10px);
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.suggest {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.suggest:hover {
  background-color: #fde047;
  cursor: pointer;
}

.suggest-name {
  font-weight: bold;
  color: #262626;
}

.suggest-info {
  font-size: 0.8rem;
  color: #26262695;
}

.my-home {
  font-size: 1rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-self: center;
  width: 200px;
  border-radius: 0.2rem;
  padding: 0.2rem;
  background: none;
  outline: none;
  border: 2px solid transparent;
}

.my-home:hover {
  color: #fde047;
  border-bottom: 2px solid #fde047;
  cursor: pointer;
}

/*Content*/

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 3rem;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 4rem;
}

.region {
  font-weight: bold;
}

.weather {
  grid-row: 1 / 2;
  justify-self: end;
  align-self: center;
}

.temp-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.temp {
  font-size: 4rem;
  font-weight: bold;
  color: #fde047;
}

.temp-icon {
  width: 90px;
  justify-self: end;
}

.cond {
  font-size: 1.5rem;
  grid-column: 2 / 3;
  justify-self: center;
  font-weight: bold;
}

/*forecast data*/

.forecast-data {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}

.data {
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.fore-img {
  width: 40px;
  align-self: flex-end;
}

.fore-name {
  font-size: 1.5rem;
  font-weight: bold;
  align-self: flex-end;
  color: #fde047;
}

.fore-info {
  grid-column: 2 / 3;
  font-size: 1.2rem;
  font-weight: bold;
}

.wind-d {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.direction {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.arrow {
  width: 25px;
}

/*loading dialog*/
dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: transparent;
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.loading img {
  width: 250px;
  border-radius: 999px;
}
